In [26]:
import numpy as np
import scipy as sp
import pandas as pd 
import matplotlib.pyplot as plt

In [27]:
df = pd.read_csv("../../../User/Downloads/addresses.csv")
df.head()
df.dtypes
df.axes
df.size
df.describe()
# df.columns

              08075
count      5.000000
mean   21769.800000
std    39059.209909
min      123.000000
25%      298.000000
50%     8075.000000
75%     9119.000000
max    91234.000000